In [1]:
# 查看当前挂载的数据集目录, 该目录下的变更重启环境后会自动还原
# View dataset directory. This directory will be recovered automatically after resetting environment. 
!ls /home/aistudio/data

data14168

In [2]:
# 查看工作区文件, 该目录下的变更将会持久保存. 请及时清理不必要的文件, 避免加载过慢.
# View personal work directory. All changes under this directory will be kept even after reset. Please clean unnecessary files in time to speed up environment loading.
!ls /home/aistudio/work

res_cbt_kfold7_0.6477160698084005.csv  res_xgb_kfold6_0.6876512726718488.csv
res_cbt_kfold7_0.6898339248774186.csv  res_xgb_kfold7_0.699708384479906.csv
res_cbt_kfold7_0.6975520165312812.csv  res_xgb_kfold7_0.7046168234288157.csv
res_cbt_kfold7_0.7171472830358574.csv  res_xgb_kfold7_0.7306788309565827.csv
res_cbt_kfold7_0.7236086940573763.csv

In [3]:
!pip install xgboost

Looking in indexes: https://pypi.mirrors.ustc.edu.cn/simple/
Collecting xgboost
  Downloading https://mirrors.tuna.tsinghua.edu.cn/pypi/web/packages/c1/24/5fe7237b2eca13ee0cfb100bec8c23f4e69ce9df852a64b0493d49dae4e0/xgboost-0.90-py2.py3-none-manylinux1_x86_64.whl (142.8MB)
    100% |████████████████████████████████| 142.8MB 217kB/s ta 0:00:011 6% |██                              | 8.7MB 3.9MB/s eta 0:00:35    25% |████████▏                       | 36.5MB 2.9MB/s eta 0:00:37
Requirement already satisfied: scipy in /opt/conda/envs/python35-paddle120-env/lib/python3.5/site-packages (from xgboost) (1.3.0)
Requirement already satisfied: numpy in /opt/conda/envs/python35-paddle120-env/lib/python3.5/site-packages (from xgboost) (1.16.4)
Installing collected packages: xgboost
Successfully installed xgboost-0.90

In [4]:
! pip install catboost

Looking in indexes: https://pypi.mirrors.ustc.edu.cn/simple/
Collecting catboost
  Downloading https://mirrors.tuna.tsinghua.edu.cn/pypi/web/packages/f7/58/0d44491eb6f50b994709f4599f5d5c769f6056b3c17edda1eb2ea08f941f/catboost-0.18-cp35-none-manylinux1_x86_64.whl (62.8MB)
    100% |████████████████████████████████| 62.8MB 523kB/s eta 0:00:01
Requirement already satisfied: six in /opt/conda/envs/python35-paddle120-env/lib/python3.5/site-packages (from catboost) (1.11.0)
Requirement already satisfied: numpy>=1.16.0 in /opt/conda/envs/python35-paddle120-env/lib/python3.5/site-packages (from catboost) (1.16.4)
Requirement already satisfied: matplotlib in /opt/conda/envs/python35-paddle120-env/lib/python3.5/site-packages (from catboost) (2.2.3)
Collecting plotly (from catboost)
  Retrying (Retry(total=4, connect=None, read=None, redirect=None, status=None)) after connection broken by 'ReadTimeoutError("HTTPSConnectionPool(host='mirrors.ustc.edu.cn', port=443): Read timed out. (read timeout=15)",)': /pypi/web/simple/plotly/
  Retrying (Retry(total=3, connect=None, read=None, redirect=None, status=None)) after connection broken by 'ReadTimeoutError("HTTPSConnectionPool(host='mirrors.ustc.edu.cn', port=443): Read timed out. (read timeout=15)",)': /pypi/web/simple/plotly/
  Downloading https://mirrors.tuna.tsinghua.edu.cn/pypi/web/packages/f7/05/3c32c6bc85acbd30a18fbc3ba732fed5e48e5f8fd60d2a148877970f4a61/plotly-4.2.1-py2.py3-none-any.whl (7.2MB)
    100% |████████████████████████████████| 7.2MB 2.3MB/s ta 0:00:011
Requirement already satisfied: pandas>=0.24.0 in /opt/conda/envs/python35-paddle120-env/lib/python3.5/site-packages (from catboost) (0.24.2)
Requirement already satisfied: graphviz in /opt/conda/envs/python35-paddle120-env/lib/python3.5/site-packages (from catboost) (0.11)
Requirement already satisfied: scipy in /opt/conda/envs/python35-paddle120-env/lib/python3.5/site-packages (from catboost) (1.3.0)
Requirement already satisfied: cycler>=0.10 in /opt/conda/envs/python35-paddle120-env/lib/python3.5/site-packages (from matplotlib->catboost) (0.10.0)
Requirement already satisfied: pytz in /opt/conda/envs/python35-paddle120-env/lib/python3.5/site-packages (from matplotlib->catboost) (2019.1)
Requirement already satisfied: python-dateutil>=2.1 in /opt/conda/envs/python35-paddle120-env/lib/python3.5/site-packages (from matplotlib->catboost) (2.8.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /opt/conda/envs/python35-paddle120-env/lib/python3.5/site-packages (from matplotlib->catboost) (1.1.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /opt/conda/envs/python35-paddle120-env/lib/python3.5/site-packages (from matplotlib->catboost) (2.4.0)
Collecting retrying>=1.3.3 (from plotly->catboost)
  Downloading https://mirrors.tuna.tsinghua.edu.cn/pypi/web/packages/44/ef/beae4b4ef80902f22e3af073397f079c96969c69b2c7d52a57ea9ae61c9d/retrying-1.3.3.tar.gz
Requirement already satisfied: setuptools in /opt/conda/envs/python35-paddle120-env/lib/python3.5/site-packages (from kiwisolver>=1.0.1->matplotlib->catboost) (41.2.0)
Building wheels for collected packages: retrying
  Running setup.py bdist_wheel for retrying ... done
  Stored in directory: /home/aistudio/.cache/pip/wheels/5b/e5/21/797e8ecf814b6ab2399ab254682b20dda1d244183a0e372010
Successfully built retrying
Installing collected packages: retrying, plotly, catboost
Successfully installed catboost-0.18 plotly-4.2.1 retrying-1.3.3

In [5]:
!pip install imblearn

Looking in indexes: https://pypi.mirrors.ustc.edu.cn/simple/
Collecting imblearn
  Downloading https://mirrors.tuna.tsinghua.edu.cn/pypi/web/packages/81/a7/4179e6ebfd654bd0eac0b9c06125b8b4c96a9d0a8ff9e9507eb2a26d2d7e/imblearn-0.0-py2.py3-none-any.whl
Collecting imbalanced-learn (from imblearn)
  Downloading https://mirrors.tuna.tsinghua.edu.cn/pypi/web/packages/e6/62/08c14224a7e242df2cef7b312d2ef821c3931ec9b015ff93bb52ec8a10a3/imbalanced_learn-0.5.0-py3-none-any.whl (173kB)
    100% |████████████████████████████████| 174kB 2.2MB/s ta 0:00:01
Requirement already satisfied: joblib>=0.11 in /opt/conda/envs/python35-paddle120-env/lib/python3.5/site-packages (from imbalanced-learn->imblearn) (0.13.2)
Requirement already satisfied: numpy>=1.11 in /opt/conda/envs/python35-paddle120-env/lib/python3.5/site-packages (from imbalanced-learn->imblearn) (1.16.4)
Requirement already satisfied: scikit-learn>=0.21 in /opt/conda/envs/python35-paddle120-env/lib/python3.5/site-packages (from imbalanced-learn->imblearn) (0.21.2)
Requirement already satisfied: scipy>=0.17 in /opt/conda/envs/python35-paddle120-env/lib/python3.5/site-packages (from imbalanced-learn->imblearn) (1.3.0)
Installing collected packages: imbalanced-learn, imblearn
Successfully installed imbalanced-learn-0.5.0 imblearn-0.0

In [6]:
import pandas as pd
from pandas.core.frame import DataFrame
import numpy as np
from sklearn import metrics
from sklearn.ensemble import GradientBoostingClassifier 
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.feature_selection import mutual_info_classif,chi2
from sklearn.feature_selection import SelectKBest, SelectPercentile
import xgboost as xgb
import catboost as cbt
from sklearn.model_selection import KFold, train_test_split, GridSearchCV
import pandas as pd
from imblearn.over_sampling import SMOTE
# 处理样本不均衡

In [7]:
data_path = '/home/aistudio/data/data14168/train.csv'
predict_data_path = '/home/aistudio/data/data14168/test.csv'
label_path = '/home/aistudio/data/data14168/train_target.csv'

In [8]:
# 这个就是进行缺失值处理
def impute_NA_with_avg(data,strategy='mean',NA_col=[]):
    """
    replacing the NA with mean/median/most frequent values of that variable. 
    Note it should only be performed over training set and then propagated to test set.
    """
    
    data_copy = data.copy(deep=True)
    for i in NA_col:
        if data_copy[i].isnull().sum()>0:
            if strategy=='mean':
                data_copy[i+'_impute_mean'] = data_copy[i].fillna(data[i].mean())
            elif strategy=='median':
                data_copy[i+'_impute_median'] = data_copy[i].fillna(data[i].median())
            elif strategy=='mode':
                data_copy[i+'_impute_mode'] = data_copy[i].fillna(data[i].mode()[0])
        else:
            warn("Column %s has no missing" % i)
    return data_copy

In [9]:
df = pd.read_csv(data_path)
df_label  = pd.read_csv(label_path)
df_predict  = pd.read_csv(predict_data_path)

In [10]:
df

,id,certId,loanProduct,gender,age,dist,edu,job,lmt,basicLevel,...,highestEdu,linkRela,setupHour,weekday,ncloseCreditCard,unpayIndvLoan,unpayOtherLoan,unpayNormalLoan,5yearBadloan,isNew
0,1,640582,1,2,27,640500,0,8,5.963,3,...,-999,0,9,6,1,0,1,0,0,1
1,2,621023,2,2,25,640600,0,3,6.467,3,...,99,11,6,5,1,0,1,0,0,1
2,3,641283,1,2,37,641200,70,5,0.596,1,...,70,0,1,6,0,0,0,0,0,1
3,4,340821,3,2,29,340821,0,4,6.300,3,...,-999,-999,13,6,1,0,1,0,0,1
4,5,732628,2,2,22,732628,0,2,6.700,2,...,99,11,8,3,1,0,1,0,0,1
5,6,610221,3,2,27,610221,0,4,5.867,3,...,-999,-999,11,3,1,0,1,1,0,1
6,7,629004,1,1,31,620100,0,3,12.630,1,...,-999,0,17,5,1,1,0,1,0,1
7,8,822223,1,2,32,822223,0,3,1.096,1,...,99,0,14,6,1,1,1,0,0,1
8,9,632503,1,2,27,640700,0,4,0.830,2,...,-999,0,2,6,0,0,1,0,0,1
9,10,722323,2,2,37,722300,0,3,7.667,1,...,-999,12,17,5,0,0,1,0,0,1
10,11,630724,1,2,28,630700,0,2,1.463,1,...,-999,0,0,6,1,0,0,0,0,1
11,12,571326,3,2,19,571326,0,4,2.800,2,...,-999,-999,11,5,0,0,1,0,0,1
12,13,572325,1,2,27,571600,0,3,0.596,3,...,99,0,6,6,1,0,1,0,0,1
13,14,810602,1,2,26,810100,0,3,1.396,3,...,-999,0,13,7,1,0,1,0,0,1
14,15,352625,2,1,27,352620,0,4,0.967,3,...,-999,10,10,5,1,0,1,0,0,1
15,16,530281,2,2,20,530200,0,3,4.467,3,...,99,11,17,1,1,0,1,0,0,1
16,17,733522,2,2,26,730900,70,8,7.033,2,...,70,0,19,4,1,0,1,0,0,1
17,18,432321,1,2,27,410100,0,3,6.296,1,...,-999,0,15,5,1,0,1,1,0,1
18,19,542422,1,2,29,510100,0,8,1.296,1,...,-999,0,0,6,1,1,1,0,0,1
19,20,621126,1,2,25,621126,0,4,6.630,3,...,99,0,17,6,1,0,1,0,0,1
20,21,822824,2,2,22,821000,0,6,6.167,1,...,99,1,20,5,1,0,1,0,0,1
21,22,622201,2,2,38,620900,0,4,4.400,1,...,99,0,18,5,1,0,1,0,0,1
22,23,732322,3,2,24,732322,0,4,1.667,2,...,-999,-999,0,5,1,0,1,0,0,1
23,24,722132,1,2,33,720100,0,3,2.530,1,...,-999,1,6,6,1,0,1,0,0,1
24,25,730321,2,2,24,730100,30,3,5.600,3,...,99,11,14,7,1,0,1,0,0,1
25,26,630623,1,2,20,630600,0,1,3.296,1,...,-999,0,21,5,0,0,1,0,0,1
26,27,621023,2,2,23,621023,0,4,6.133,2,...,99,0,10,5,0,0,1,0,0,1
27,28,640921,2,2,29,640900,0,3,3.600,1,...,-999,1,14,6,0,0,1,0,0,1
28,29,531002,3,2,33,531002,0,3,6.900,1,...,-999,-999,19,1,1,1,1,0,0,1
29,30,571502,1,2,26,571500,0,10,1.163,1,...,-999,1,2,6,0,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
131999,132000,611329,2,1,31,611329,0,16,7.833,1,...,-999,1,6,4,1,0,1,0,0,0
132000,132001,631126,3,2,24,631126,0,4,1.433,2,...,-999,-999,6,3,0,0,1,0,0,0
132001,132002,570725,1,2,26,570700,0,16,9.296,3,...,-999,0,16,3,1,0,1,1,0,0
132002,132003,570687,3,2,23,570687,0,16,2.600,3,...,-999,-999,11,1,1,0,1,1,0,0
132003,132004,620528,2,2,31,620528,0,16,11.633,3,...,-999,1,10,6,1,0,1,0,0,0
132004,132005,632502,2,2,35,632500,0,16,5.367,3,...,-999,10,22,1,1,0,1,0,0,0
132005,132006,650324,2,2,19,650324,0,16,7.900,2,...,99,0,11,6,1,0,1,0,0,0
132006,132007,610923,1,2,44,610900,0,1,3.096,1,...,-999,1,17,4,1,1,1,0,0,0
132007,132008,352323,2,1,47,352320,0,16,3.333,3,...,-999,12,9,4,1,0,1,1,0,0
132008,132009,430822,1,2,42,430800,0,6,0.430,2,...,-999,0,17,4,0,1,1,0,0,0
132009,132010,650722,2,2,31,650722,0,16,1.400,3,...,-999,1,13,3,1,0,1,0,0,0
132010,132011,610305,1,2,34,610300,0,1,7.630,1,...,-999,1,10,5,1,0,1,1,0,0
132011,132012,710321,3,2,29,710321,0,16,1.800,3,...,-999,-999,16,4,1,0,1,0,0,0
132012,132013,310223,3,2,30,310220,0,3,5.400,3,...,-999,-999,9,3,1,0,1,0,0,0
132013,132014,660033,2,2,22,660030,0,16,3.900,2,...,-999,10,4,3,0,1,1,0,0,0
132014,132015,645222,2,1,24,645222,0,16,2.367,2,...,-999,1,17,7,1,0,1,0,0,0
132015,132016,342629,2,2,22,342620,0,16,4.067,2,...,-999,11,7,6,1,0,1,0,0,0
132016,132017,520681,3,2,37,520681,0,16,4.900,1,...,-999,-999,10,3,1,0,1,1,0,0
132017,132018,610526,2,2,27,610526,0,16,1.533,3,...,-999,12,20,6,1,0,1,0,0,0
132018,132019,710824,1,2,44,710100,0,3,8.630,1,...,-999,1,14,2,1,0,1,1,0,0
132019,132020,810626,1,2,24,810100,0,2,10.296,1,...,-999,0,13,2,1,0,1,0,0,0
132020,132021,652503,1,2,35,640300,0,4,12.296,1,...,-999,0,18,4,1,0,1,1,0,0
132021,132022,810623,2,2,20,810623,0,16,7.000,2,...,-999,11,7,6,0,1,1,0,0,0
132022,132023,722323,2,2,21,722323,40,4,0.667,2,...,-999,11,23,3,0,0,0,0,0,0
132023,132024,641723,2,2,25,641723,0,16,8.000,2,...,-999,10,20,6,1,0,1,0,0,0
132024,132025,631023,2,2,22,631023,0,4,7.867,2,...,-999,11,12,6,1,0,1,0,0,0
132025,132026,640711,1,2,26,640700,0,4,4.630,1,...,-999,0,11,1,1,0,1,1,0,0
132026,132027,550424,2,2,30,550424,0,16,2.200,3,...,-999,0,7,1,1,0,1,0,0,0
132027,132028,430104,1,1,48,430100,0,4,1.996,1,...,-999,1,17,5,1,0,1,1,0,0
132028,132029,520723,2,2,26,520723,0,16,7.667,3,...,-999,1,17,4,1,1,1,1,0,0

In [11]:
column_headers = list( df.columns.values )
column_headers

['id',
 'certId',
 'loanProduct',
 'gender',
 'age',
 'dist',
 'edu',
 'job',
 'lmt',
 'basicLevel',
 'x_0',
 'x_1',
 'x_2',
 'x_3',
 'x_4',
 'x_5',
 'x_6',
 'x_7',
 'x_8',
 'x_9',
 'x_10',
 'x_11',
 'x_12',
 'x_13',
 'x_14',
 'x_15',
 'x_16',
 'x_17',
 'x_18',
 'x_19',
 'x_20',
 'x_21',
 'x_22',
 'x_23',
 'x_24',
 'x_25',
 'x_26',
 'x_27',
 'x_28',
 'x_29',
 'x_30',
 'x_31',
 'x_32',
 'x_33',
 'x_34',
 'x_35',
 'x_36',
 'x_37',
 'x_38',
 'x_39',
 'x_40',
 'x_41',
 'x_42',
 'x_43',
 'x_44',
 'x_45',
 'x_46',
 'x_47',
 'x_48',
 'x_49',
 'x_50',
 'x_51',
 'x_52',
 'x_53',
 'x_54',
 'x_55',
 'x_56',
 'x_57',
 'x_58',
 'x_59',
 'x_60',
 'x_61',
 'x_62',
 'x_63',
 'x_64',
 'x_65',
 'x_66',
 'x_67',
 'x_68',
 'x_69',
 'x_70',
 'x_71',
 'x_72',
 'x_73',
 'x_74',
 'x_75',
 'x_76',
 'x_77',
 'x_78',
 'certValidBegin',
 'certValidStop',
 'bankCard',
 'ethnic',
 'residentAddr',
 'highestEdu',
 'linkRela',
 'setupHour',
 'weekday',
 'ncloseCreditCard',
 'unpayIndvLoan',
 'unpayOtherLoan',
 'unpayNormalLoan',
 '5yearBadloan',
 'isNew']

In [12]:
train_data = pd.merge(df, df_label, how='left', on=['id'])

In [13]:
train_data.dropna(how='all')
# 这个是用于滤除缺失值的，how=all就是只丢弃全部为缺失值的行

,id,certId,loanProduct,gender,age,dist,edu,job,lmt,basicLevel,...,linkRela,setupHour,weekday,ncloseCreditCard,unpayIndvLoan,unpayOtherLoan,unpayNormalLoan,5yearBadloan,isNew,target
0,1,640582,1,2,27,640500,0,8,5.963,3,...,0,9,6,1,0,1,0,0,1,0
1,2,621023,2,2,25,640600,0,3,6.467,3,...,11,6,5,1,0,1,0,0,1,0
2,3,641283,1,2,37,641200,70,5,0.596,1,...,0,1,6,0,0,0,0,0,1,0
3,4,340821,3,2,29,340821,0,4,6.300,3,...,-999,13,6,1,0,1,0,0,1,0
4,5,732628,2,2,22,732628,0,2,6.700,2,...,11,8,3,1,0,1,0,0,1,0
5,6,610221,3,2,27,610221,0,4,5.867,3,...,-999,11,3,1,0,1,1,0,1,0
6,7,629004,1,1,31,620100,0,3,12.630,1,...,0,17,5,1,1,0,1,0,1,0
7,8,822223,1,2,32,822223,0,3,1.096,1,...,0,14,6,1,1,1,0,0,1,0
8,9,632503,1,2,27,640700,0,4,0.830,2,...,0,2,6,0,0,1,0,0,1,0
9,10,722323,2,2,37,722300,0,3,7.667,1,...,12,17,5,0,0,1,0,0,1,0
10,11,630724,1,2,28,630700,0,2,1.463,1,...,0,0,6,1,0,0,0,0,1,0
11,12,571326,3,2,19,571326,0,4,2.800,2,...,-999,11,5,0,0,1,0,0,1,0
12,13,572325,1,2,27,571600,0,3,0.596,3,...,0,6,6,1,0,1,0,0,1,0
13,14,810602,1,2,26,810100,0,3,1.396,3,...,0,13,7,1,0,1,0,0,1,0
14,15,352625,2,1,27,352620,0,4,0.967,3,...,10,10,5,1,0,1,0,0,1,0
15,16,530281,2,2,20,530200,0,3,4.467,3,...,11,17,1,1,0,1,0,0,1,0
16,17,733522,2,2,26,730900,70,8,7.033,2,...,0,19,4,1,0,1,0,0,1,0
17,18,432321,1,2,27,410100,0,3,6.296,1,...,0,15,5,1,0,1,1,0,1,0
18,19,542422,1,2,29,510100,0,8,1.296,1,...,0,0,6,1,1,1,0,0,1,0
19,20,621126,1,2,25,621126,0,4,6.630,3,...,0,17,6,1,0,1,0,0,1,0
20,21,822824,2,2,22,821000,0,6,6.167,1,...,1,20,5,1,0,1,0,0,1,0
21,22,622201,2,2,38,620900,0,4,4.400,1,...,0,18,5,1,0,1,0,0,1,0
22,23,732322,3,2,24,732322,0,4,1.667,2,...,-999,0,5,1,0,1,0,0,1,0
23,24,722132,1,2,33,720100,0,3,2.530,1,...,1,6,6,1,0,1,0,0,1,0
24,25,730321,2,2,24,730100,30,3,5.600,3,...,11,14,7,1,0,1,0,0,1,0
25,26,630623,1,2,20,630600,0,1,3.296,1,...,0,21,5,0,0,1,0,0,1,0
26,27,621023,2,2,23,621023,0,4,6.133,2,...,0,10,5,0,0,1,0,0,1,0
27,28,640921,2,2,29,640900,0,3,3.600,1,...,1,14,6,0,0,1,0,0,1,0
28,29,531002,3,2,33,531002,0,3,6.900,1,...,-999,19,1,1,1,1,0,0,1,0
29,30,571502,1,2,26,571500,0,10,1.163,1,...,1,2,6,0,0,1,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
131999,132000,611329,2,1,31,611329,0,16,7.833,1,...,1,6,4,1,0,1,0,0,0,0
132000,132001,631126,3,2,24,631126,0,4,1.433,2,...,-999,6,3,0,0,1,0,0,0,0
132001,132002,570725,1,2,26,570700,0,16,9.296,3,...,0,16,3,1,0,1,1,0,0,0
132002,132003,570687,3,2,23,570687,0,16,2.600,3,...,-999,11,1,1,0,1,1,0,0,0
132003,132004,620528,2,2,31,620528,0,16,11.633,3,...,1,10,6,1,0,1,0,0,0,0
132004,132005,632502,2,2,35,632500,0,16,5.367,3,...,10,22,1,1,0,1,0,0,0,0
132005,132006,650324,2,2,19,650324,0,16,7.900,2,...,0,11,6,1,0,1,0,0,0,0
132006,132007,610923,1,2,44,610900,0,1,3.096,1,...,1,17,4,1,1,1,0,0,0,0
132007,132008,352323,2,1,47,352320,0,16,3.333,3,...,12,9,4,1,0,1,1,0,0,0
132008,132009,430822,1,2,42,430800,0,6,0.430,2,...,0,17,4,0,1,1,0,0,0,0
132009,132010,650722,2,2,31,650722,0,16,1.400,3,...,1,13,3,1,0,1,0,0,0,0
132010,132011,610305,1,2,34,610300,0,1,7.630,1,...,1,10,5,1,0,1,1,0,0,0
132011,132012,710321,3,2,29,710321,0,16,1.800,3,...,-999,16,4,1,0,1,0,0,0,0
132012,132013,310223,3,2,30,310220,0,3,5.400,3,...,-999,9,3,1,0,1,0,0,0,0
132013,132014,660033,2,2,22,660030,0,16,3.900,2,...,10,4,3,0,1,1,0,0,0,0
132014,132015,645222,2,1,24,645222,0,16,2.367,2,...,1,17,7,1,0,1,0,0,0,0
132015,132016,342629,2,2,22,342620,0,16,4.067,2,...,11,7,6,1,0,1,0,0,0,0
132016,132017,520681,3,2,37,520681,0,16,4.900,1,...,-999,10,3,1,0,1,1,0,0,0
132017,132018,610526,2,2,27,610526,0,16,1.533,3,...,12,20,6,1,0,1,0,0,0,0
132018,132019,710824,1,2,44,710100,0,3,8.630,1,...,1,14,2,1,0,1,1,0,0,0
132019,132020,810626,1,2,24,810100,0,2,10.296,1,...,0,13,2,1,0,1,0,0,0,0
132020,132021,652503,1,2,35,640300,0,4,12.296,1,...,0,18,4,1,0,1,1,0,0,0
132021,132022,810623,2,2,20,810623,0,16,7.000,2,...,11,7,6,0,1,1,0,0,0,0
132022,132023,722323,2,2,21,722323,40,4,0.667,2,...,11,23,3,0,0,0,0,0,0,0
132023,132024,641723,2,2,25,641723,0,16,8.000,2,...,10,20,6,1,0,1,0,0,0,0
132024,132025,631023,2,2,22,631023,0,4,7.867,2,...,11,12,6,1,0,1,0,0,0,0
132025,132026,640711,1,2,26,640700,0,4,4.630,1,...,0,11,1,1,0,1,1,0,0,0
132026,132027,550424,2,2,30,550424,0,16,2.200,3,...,0,7,1,1,0,1,0,0,0,0
132027,132028,430104,1,1,48,430100,0,4,1.996,1,...,1,17,5,1,0,1,1,0,0,0
132028,132029,520723,2,2,26,520723,0,16,7.667,3,...,1,17,4,1,1,1,1,0,0,0

In [14]:
# 缺失值进行填充
train_data = impute_NA_with_avg(train_data, column_headers) 

df_predict = impute_NA_with_avg(df_predict, column_headers)

In [15]:
train_data.fillna(0, inplace = True) 
df_predict.fillna(0, inplace = True)

In [16]:
train_data
groupby_data_orginal=train_data.groupby('target').count()

,id,certId,loanProduct,gender,age,dist,edu,job,lmt,basicLevel,...,linkRela,setupHour,weekday,ncloseCreditCard,unpayIndvLoan,unpayOtherLoan,unpayNormalLoan,5yearBadloan,isNew,target
0,1,640582,1,2,27,640500,0,8,5.963,3,...,0,9,6,1,0,1,0,0,1,0
1,2,621023,2,2,25,640600,0,3,6.467,3,...,11,6,5,1,0,1,0,0,1,0
2,3,641283,1,2,37,641200,70,5,0.596,1,...,0,1,6,0,0,0,0,0,1,0
3,4,340821,3,2,29,340821,0,4,6.300,3,...,-999,13,6,1,0,1,0,0,1,0
4,5,732628,2,2,22,732628,0,2,6.700,2,...,11,8,3,1,0,1,0,0,1,0
5,6,610221,3,2,27,610221,0,4,5.867,3,...,-999,11,3,1,0,1,1,0,1,0
6,7,629004,1,1,31,620100,0,3,12.630,1,...,0,17,5,1,1,0,1,0,1,0
7,8,822223,1,2,32,822223,0,3,1.096,1,...,0,14,6,1,1,1,0,0,1,0
8,9,632503,1,2,27,640700,0,4,0.830,2,...,0,2,6,0,0,1,0,0,1,0
9,10,722323,2,2,37,722300,0,3,7.667,1,...,12,17,5,0,0,1,0,0,1,0
10,11,630724,1,2,28,630700,0,2,1.463,1,...,0,0,6,1,0,0,0,0,1,0
11,12,571326,3,2,19,571326,0,4,2.800,2,...,-999,11,5,0,0,1,0,0,1,0
12,13,572325,1,2,27,571600,0,3,0.596,3,...,0,6,6,1,0,1,0,0,1,0
13,14,810602,1,2,26,810100,0,3,1.396,3,...,0,13,7,1,0,1,0,0,1,0
14,15,352625,2,1,27,352620,0,4,0.967,3,...,10,10,5,1,0,1,0,0,1,0
15,16,530281,2,2,20,530200,0,3,4.467,3,...,11,17,1,1,0,1,0,0,1,0
16,17,733522,2,2,26,730900,70,8,7.033,2,...,0,19,4,1,0,1,0,0,1,0
17,18,432321,1,2,27,410100,0,3,6.296,1,...,0,15,5,1,0,1,1,0,1,0
18,19,542422,1,2,29,510100,0,8,1.296,1,...,0,0,6,1,1,1,0,0,1,0
19,20,621126,1,2,25,621126,0,4,6.630,3,...,0,17,6,1,0,1,0,0,1,0
20,21,822824,2,2,22,821000,0,6,6.167,1,...,1,20,5,1,0,1,0,0,1,0
21,22,622201,2,2,38,620900,0,4,4.400,1,...,0,18,5,1,0,1,0,0,1,0
22,23,732322,3,2,24,732322,0,4,1.667,2,...,-999,0,5,1,0,1,0,0,1,0
23,24,722132,1,2,33,720100,0,3,2.530,1,...,1,6,6,1,0,1,0,0,1,0
24,25,730321,2,2,24,730100,30,3,5.600,3,...,11,14,7,1,0,1,0,0,1,0
25,26,630623,1,2,20,630600,0,1,3.296,1,...,0,21,5,0,0,1,0,0,1,0
26,27,621023,2,2,23,621023,0,4,6.133,2,...,0,10,5,0,0,1,0,0,1,0
27,28,640921,2,2,29,640900,0,3,3.600,1,...,1,14,6,0,0,1,0,0,1,0
28,29,531002,3,2,33,531002,0,3,6.900,1,...,-999,19,1,1,1,1,0,0,1,0
29,30,571502,1,2,26,571500,0,10,1.163,1,...,1,2,6,0,0,1,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
131999,132000,611329,2,1,31,611329,0,16,7.833,1,...,1,6,4,1,0,1,0,0,0,0
132000,132001,631126,3,2,24,631126,0,4,1.433,2,...,-999,6,3,0,0,1,0,0,0,0
132001,132002,570725,1,2,26,570700,0,16,9.296,3,...,0,16,3,1,0,1,1,0,0,0
132002,132003,570687,3,2,23,570687,0,16,2.600,3,...,-999,11,1,1,0,1,1,0,0,0
132003,132004,620528,2,2,31,620528,0,16,11.633,3,...,1,10,6,1,0,1,0,0,0,0
132004,132005,632502,2,2,35,632500,0,16,5.367,3,...,10,22,1,1,0,1,0,0,0,0
132005,132006,650324,2,2,19,650324,0,16,7.900,2,...,0,11,6,1,0,1,0,0,0,0
132006,132007,610923,1,2,44,610900,0,1,3.096,1,...,1,17,4,1,1,1,0,0,0,0
132007,132008,352323,2,1,47,352320,0,16,3.333,3,...,12,9,4,1,0,1,1,0,0,0
132008,132009,430822,1,2,42,430800,0,6,0.430,2,...,0,17,4,0,1,1,0,0,0,0
132009,132010,650722,2,2,31,650722,0,16,1.400,3,...,1,13,3,1,0,1,0,0,0,0
132010,132011,610305,1,2,34,610300,0,1,7.630,1,...,1,10,5,1,0,1,1,0,0,0
132011,132012,710321,3,2,29,710321,0,16,1.800,3,...,-999,16,4,1,0,1,0,0,0,0
132012,132013,310223,3,2,30,310220,0,3,5.400,3,...,-999,9,3,1,0,1,0,0,0,0
132013,132014,660033,2,2,22,660030,0,16,3.900,2,...,10,4,3,0,1,1,0,0,0,0
132014,132015,645222,2,1,24,645222,0,16,2.367,2,...,1,17,7,1,0,1,0,0,0,0
132015,132016,342629,2,2,22,342620,0,16,4.067,2,...,11,7,6,1,0,1,0,0,0,0
132016,132017,520681,3,2,37,520681,0,16,4.900,1,...,-999,10,3,1,0,1,1,0,0,0
132017,132018,610526,2,2,27,610526,0,16,1.533,3,...,12,20,6,1,0,1,0,0,0,0
132018,132019,710824,1,2,44,710100,0,3,8.630,1,...,1,14,2,1,0,1,1,0,0,0
132019,132020,810626,1,2,24,810100,0,2,10.296,1,...,0,13,2,1,0,1,0,0,0,0
132020,132021,652503,1,2,35,640300,0,4,12.296,1,...,0,18,4,1,0,1,1,0,0,0
132021,132022,810623,2,2,20,810623,0,16,7.000,2,...,11,7,6,0,1,1,0,0,0,0
132022,132023,722323,2,2,21,722323,40,4,0.667,2,...,11,23,3,0,0,0,0,0,0,0
132023,132024,641723,2,2,25,641723,0,16,8.000,2,...,10,20,6,1,0,1,0,0,0,0
132024,132025,631023,2,2,22,631023,0,4,7.867,2,...,11,12,6,1,0,1,0,0,0,0
132025,132026,640711,1,2,26,640700,0,4,4.630,1,...,0,11,1,1,0,1,1,0,0,0
132026,132027,550424,2,2,30,550424,0,16,2.200,3,...,0,7,1,1,0,1,0,0,0,0
132027,132028,430104,1,1,48,430100,0,4,1.996,1,...,1,17,5,1,0,1,1,0,0,0
132028,132029,520723,2,2,26,520723,0,16,7.667,3,...,1,17,4,1,1,1,1,0,0,0

In [17]:
column_headers = list( train_data.columns.values )
print(column_headers)

['id', 'certId', 'loanProduct', 'gender', 'age', 'dist', 'edu', 'job', 'lmt', 'basicLevel', 'x_0', 'x_1', 'x_2', 'x_3', 'x_4', 'x_5', 'x_6', 'x_7', 'x_8', 'x_9', 'x_10', 'x_11', 'x_12', 'x_13', 'x_14', 'x_15', 'x_16', 'x_17', 'x_18', 'x_19', 'x_20', 'x_21', 'x_22', 'x_23', 'x_24', 'x_25', 'x_26', 'x_27', 'x_28', 'x_29', 'x_30', 'x_31', 'x_32', 'x_33', 'x_34', 'x_35', 'x_36', 'x_37', 'x_38', 'x_39', 'x_40', 'x_41', 'x_42', 'x_43', 'x_44', 'x_45', 'x_46', 'x_47', 'x_48', 'x_49', 'x_50', 'x_51', 'x_52', 'x_53', 'x_54', 'x_55', 'x_56', 'x_57', 'x_58', 'x_59', 'x_60', 'x_61', 'x_62', 'x_63', 'x_64', 'x_65', 'x_66', 'x_67', 'x_68', 'x_69', 'x_70', 'x_71', 'x_72', 'x_73', 'x_74', 'x_75', 'x_76', 'x_77', 'x_78', 'certValidBegin', 'certValidStop', 'bankCard', 'ethnic', 'residentAddr', 'highestEdu', 'linkRela', 'setupHour', 'weekday', 'ncloseCreditCard', 'unpayIndvLoan', 'unpayOtherLoan', 'unpayNormalLoan', '5yearBadloan', 'isNew', 'target']

In [18]:
x_columns = [x for x in train_data.columns if x not in ["target", "id"]]

In [18]:
X = train_data[x_columns]
y = train_data["target"] 
X_predict = df_predict[x_columns]
X_train, y_train = X, y

In [ ]:
model_smote=SMOTE()    #建立smote模型对象
x_smote_resampled,y_smote_resampled=model_smote.fit_sample(X,y)
x_smote_resampled=pd.DataFrame(x_smote_resampled,columns=x_columns)
y_smote_resampled=pd.DataFrame(y_smote_resampled,columns=['label'])
smote_resampled=pd.concat([x_smote_resampled,y_smote_resampled],axis=1)
groupby_data_smote=smote_resampled.groupby('label').count()

In [21]:
# one-hot处理
train_data = X_train
test_data = X_predict
# 选择要做onehot的列['id', 'certId', 'loanProduct', 'gender', 'age', 'dist', 'edu', 'job', 'lmt', 'basicLevel', 'x_0', 'x_1', 'x_2', 'x_3', 'x_4', 'x_5', 'x_6', 'x_7', 'x_8', 'x_9', 'x_10', 'x_11', 'x_12', 'x_13', 'x_14', 'x_15', 'x_16', 'x_17', 'x_18', 'x_19', 'x_20', 'x_21', 'x_22', 'x_23', 'x_24', 'x_25', 'x_26', 'x_27', 'x_28', 'x_29', 'x_30', 'x_31', 'x_32', 'x_33', 'x_34', 'x_35', 'x_36', 'x_37', 'x_38', 'x_39', 'x_40', 'x_41', 'x_42', 'x_43', 'x_44', 'x_45', 'x_46', 'x_47', 'x_48', 'x_49', 'x_50', 'x_51', 'x_52', 'x_53', 'x_54', 'x_55', 'x_56', 'x_57', 'x_58', 'x_59', 'x_60', 'x_61', 'x_62', 'x_63', 'x_64', 'x_65', 'x_66', 'x_67', 'x_68', 'x_69', 'x_70', 'x_71', 'x_72', 'x_73', 'x_74', 'x_75', 'x_76', 'x_77', 'x_78', 'certValidBegin', 'certValidStop', 'bankCard', 'ethnic', 'residentAddr', 'highestEdu', 'linkRela', 'setupHour', 'weekday', 'ncloseCreditCard', 'unpayIndvLoan', 'unpayOtherLoan', 'unpayNormalLoan', '5yearBadloan', 'isNew', 'target']
# ["gender", "edu", "job", 'x_0', 'x_1', 'x_2', 'x_3', 'x_4', 'x_5', 'x_6', 'x_7', 'x_8', 'x_9', 'x_10', 'x_11', 'x_12', 'x_13', 'x_14', 'x_15', 'x_16', 'x_17', 'x_18', 'x_19', 'x_20', 'x_21', 'x_22', 'x_23', 'x_24', 'x_25', 'x_26', 'x_27', 'x_28', 'x_29', 'x_30', 'x_31', 'x_32', 'x_33', 'x_34', 'x_35', 'x_36', 'x_37', 'x_38', 'x_39', 'x_40', 'x_41', 'x_42', 'x_43', 'x_44', 'x_45', 'x_46', 'x_47', 'x_48', 'x_49', 'x_50', 'x_51', 'x_52', 'x_53', 'x_54', 'x_55', 'x_56', 'x_57', 'x_58', 'x_59', 'x_60', 'x_61', 'x_62', 'x_63', 'x_64', 'x_65', 'x_66', 'x_67', 'x_68', 'x_69', 'x_70', 'x_71', 'x_72', 'x_73', 'x_74', 'x_75', 'x_76', 'x_77', 'x_78']
dummy_fea = ["gender", "edu", "job", 'x_0', 'x_1', 'x_2', 'x_3', 'x_4', 'x_5', 'x_6', 'x_7', 'x_8', 'x_9', 'x_10', 'x_11', 'x_12', 'x_13', 'x_14', 'x_15', 'x_16', 'x_17', 'x_18', 'x_19', 'x_20', 'x_21', 'x_22', 'x_23', 'x_24', 'x_25', 'x_26', 'x_27', 'x_28', 'x_29', 'x_30', 'x_31', 'x_32', 'x_33', 'x_34', 'x_35', 'x_36', 'x_37', 'x_38', 'x_39', 'x_40', 'x_41', 'x_42', 'x_43', 'x_44', 'x_45', 'x_46', 'x_47', 'x_48', 'x_49', 'x_50', 'x_51', 'x_52', 'x_53', 'x_54', 'x_55', 'x_56', 'x_57', 'x_58', 'x_59', 'x_60', 'x_61', 'x_62', 'x_63', 'x_64', 'x_65', 'x_66', 'x_67', 'x_68', 'x_69', 'x_70', 'x_71', 'x_72', 'x_73', 'x_74', 'x_75', 'x_76', 'x_77', 'x_78']
train_test_data = pd.concat([train_data,test_data],axis=0,ignore_index = True)
train_test_data = train_test_data.fillna(0)
dummy_df = pd.get_dummies(train_test_data.loc[:,dummy_fea])
train_test_data = pd.concat([train_test_data,dummy_df],axis=1)
train_test_data = train_test_data.drop(dummy_fea,axis=1)
train_train = train_test_data.iloc[:train_data.shape[0],:]
test_test = train_test_data.iloc[train_data.shape[0]:,:]

In [19]:
n_splits = 8
kf = KFold(n_splits=n_splits, shuffle=True, random_state=829111)
max_auc = 0
for train_index, test_index in kf.split(X_train):
    print ( ">>>", train_index )
    xgboost = xgb.XGBClassifier(max_depth=5, n_estimators=800, learning_rate=0.01,)
    xgboost_model = xgboost.fit(X_train.iloc[train_index], y_train.iloc[train_index]) 

    y_pred = xgboost_model.predict(X_train.iloc[test_index]) 
    y_predprob = xgboost_model.predict_proba(X_train.iloc[test_index])[:, 1] 
    print (y_predprob)

    print("Accuracy : %.4g" % metrics.accuracy_score(y_train.iloc[test_index].values, y_pred))  
    auc = metrics.roc_auc_score(y_train.iloc[test_index], y_predprob)
    print("AUC Score (Train): %f" % auc) 

    if auc > max_auc:
        max_auc = auc
        print ("auc>>>>>>", auc)
        y_pp = xgboost_model.predict_proba(X_predict)[:, 1] 
        # print (y_pp)
        c ={ "target" : y_pp }
        data_lable = DataFrame(c)#将字典转换成为数据框
        # print ( data_lable )
        id_list = df_predict["id"].tolist()
        # print ( id_list )


        d ={ "id" : id_list, "target" : y_pp  }
        res = DataFrame(d)#将字典转换成为数据框
        print (">>>>", res)
        csv_file = '/home/aistudio/work/res_xgb_kfold' + str(n_splits) + '_'  + str(auc) + '.csv'
        res.to_csv(csv_file,index = None)

>>> [     0      1      2 ... 132026 132027 132028]
[0.00179888 0.01590867 0.01695535 ... 0.00740959 0.00651568 0.0068048 ]
Accuracy : 0.9936
AUC Score (Train): 0.675643
auc>>>>>> 0.6756425333716632
>>>>            id    target
0      132030  0.007642
1      132031  0.018497
2      132032  0.004752
3      132033  0.003216
4      132034  0.023872
5      132035  0.008471
6      132036  0.002453
7      132037  0.020880
8      132038  0.017140
9      132039  0.011556
10     132040  0.003438
11     132041  0.036676
12     132042  0.002448
13     132043  0.004546
14     132044  0.011962
15     132045  0.003805
16     132046  0.019533
17     132047  0.027516
18     132048  0.013035
19     132049  0.008666
20     132050  0.002940
21     132051  0.004457
22     132052  0.013498
23     132053  0.003864
24     132054  0.003823
25     132055  0.005726
26     132056  0.002469
27     132057  0.002635
28     132058  0.002366
29     132059  0.013868
...       ...       ...
23531  155561  0.002656
23532  155562  0.005677
23533  155563  0.018748
23534  155564  0.004135
23535  155565  0.003705
23536  155566  0.004736
23537  155567  0.007559
23538  155568  0.007833
23539  155569  0.027350
23540  155570  0.003490
23541  155571  0.003893
23542  155572  0.028471
23543  155573  0.030130
23544  155574  0.022358
23545  155575  0.016143
23546  155576  0.012761
23547  155577  0.017572
23548  155578  0.003913
23549  155579  0.004923
23550  155580  0.006218
23551  155581  0.011393
23552  155582  0.003946
23553  155583  0.017153
23554  155584  0.013263
23555  155585  0.003972
23556  155586  0.008687
23557  155587  0.005165
23558  155588  0.008998
23559  155589  0.006110
23560  155590  0.003740

[23561 rows x 2 columns]
>>> [     0      1      2 ... 132025 132026 132028]

In [20]:
# n_splits = 7
# kf = KFold(n_splits=n_splits, shuffle=True, random_state=829128)
# max_auc = 0
# for train_index, test_index in kf.split(X_train):
#     print ( ">>>", train_index )
#     catboost = cbt.CatBoostClassifier()
#     # 注意这要记得加括号，不然会报错'DataFrame' object has no attribute '_init_params'
#     catboost_model = catboost.fit(X_train.iloc[train_index], y_train.iloc[train_index]) 


#     y_pred = catboost_model.predict(X_train.iloc[test_index]) 
#     y_predprob = catboost_model.predict_proba(X_train.iloc[test_index])[:, 1] 
#     print (y_predprob)

#     print("Accuracy : %.4g" % metrics.accuracy_score(y_train.iloc[test_index].values, y_pred))  
#     auc = metrics.roc_auc_score(y_train.iloc[test_index], y_predprob)
#     print("AUC Score (Train): %f" % auc) 

#     if auc > max_auc:
#         max_auc = auc
#         print ("auc>>>>>>", auc)
#         y_pp = catboost_model.predict_proba(X_predict)[:, 1] 
#         # print (y_pp)
#         c ={ "target" : y_pp }
#         data_lable = DataFrame(c)#将字典转换成为数据框
#         # print ( data_lable )
#         id_list = df_predict["id"].tolist()
#         # print ( id_list )


#         d ={ "id" : id_list, "target" : y_pp  }
#         res = DataFrame(d)#将字典转换成为数据框
#         print (">>>>", res)
#         csv_file = '/home/aistudio/work/res_cbt_kfold' + str(n_splits) + '_'  + str(auc) + '.csv'
#         res.to_csv(csv_file,index = None)

请点击[此处](https://ai.baidu.com/docs#/AIStudio_Project_Notebook/a38e5576)查看本环境基本用法.  <br>
Please click [here ](https://ai.baidu.com/docs#/AIStudio_Project_Notebook/a38e5576) for more detailed instructions.

In [ ]:
# 做一个网格搜索试一下